<section class="sannytech-section sannytech-gradient-top" id="blog-section">

    <!-- Heading -->
    <div class="sannytech-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-animate="active" data-splitting="words">
                    <span> Latest Blog </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-animate="active"
                     data-splitting="words">
                <span> my <b>Blogs &amp; Articles </b>
                </span>
                </div>
            </div>

        </div>
    </div>

    <!-- Archive -->
    <div class="v-line v-line-right">
        <div class="container">

            <div class="blog-items row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <div class="image">
                            <a href="blog.html">
                                <img alt="The Main Thing For The Designer" decoding="async"
                                     src="https://picsum.photos/seed/post1/660/380/">
                            </a>
                        </div>
                        <div class="desc">
                            <div class="category sannytech-subtitle">
                                <span>December 30, 2022</span>
                            </div>
                            <h5 class="sannytech-title">
                                <a href="blog.html">Things to know about the Web</a>
                            </h5>
                            <div class="sannytech-text">
                                <p>
                                    Some of the most important things to know about the web are the things that you
                                    don't know &#8230;
                                </p>
                                <div class="readmore">
                                    <a class="lnk" href="blog.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <div class="image">
                            <a href="blog.html">
                                <img alt="Follow Your Own Design Process" decoding="async"
                                     src="https://picsum.photos/seed/post2/660/380/">
                            </a>
                        </div>
                        <div class="desc">
                            <div class="category sannytech-subtitle">
                                <span>December 30, 2022</span>
                            </div>
                            <h5 class="sannytech-title">
                                <a href="blog.html">Laravel Updates</a>
                            </h5>
                            <div class="sannytech-text">
                                <p>
                                    Laravel is a web application framework with expressive, elegant syntax. We’ve
                                    already laid the foundation &#8230;
                                </p>
                                <div class="readmore">
                                    <a class="lnk" href="blog.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <div class="image">
                            <a href="blog.html">
                                <img alt="Usability Secrets to Create Better Interfaces" decoding="async"
                                     src="https://picsum.photos/seed/post3/660/380/">
                            </a>
                        </div>
                        <div class="desc">
                            <div class="category sannytech-subtitle">
                                <span>December 31, 2022</span>
                            </div>
                            <h5 class="sannytech-title">
                                <a href="blog.html">Web Application Security</a>
                            </h5>
                            <div class="sannytech-text">
                                <p>
                                    Web application security is a broad term that encompasses a variety of security
                                    concerns, including &#8230;
                                </p>
                                <div class="readmore">
                                    <a class="lnk" href="blog.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load-more">
                <a class="btn scrolla-element-anim-1 scroll-animate" data-animate="active" href="blog.html">
                    <span>View Blog</span>
                </a>
            </div>

            <div class="sannytech-bgtitle">
                <span>My Blog </span>
            </div>

        </div>
    </div>

</section>