<section class="sannytech-section sannytech-gradient-bottom" id="contact-section">

    <!-- Heading -->
    <div class="sannytech-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-animate="active" data-splitting="words">
                    <span> Contact Me </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-animate="active"
                     data-splitting="words">
                <span> Let’s <b> Get in touch </b>
                </span>
                </div>
            </div>

        </div>
    </div>

    <!-- Contact -->
    <div class="sannytech-contacts v-line v-line-left">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

                    <div class="numbers-items">
                        <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="icon">
                                <i aria-hidden="true" class="far fa-map"></i>
                            </div>
                            <div class="title">
                                <span> Address </span>
                            </div>
                            <div class="sannytech-text">
                                <span> 235 Tesano Street, Achimota, Ghana </span>
                            </div>
                        </div>
                        <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="icon">
                                <i aria-hidden="true" class="far fa-user"></i>
                            </div>
                            <div class="title">
                                <span> Work </span>
                            </div>
                            <div class="sannytech-text">
                                <span> Available Right Now </span>
                            </div>
                        </div>
                        <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="icon">
                                <i aria-hidden="true" class="far fa-envelope"></i>
                            </div>
                            <div class="title">
                                <span> Email </span>
                            </div>
                            <div class="sannytech-text">
                                <span> Brownssmith899@gmail.com </span>
                            </div>
                        </div>
                        <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="icon">
                                <i aria-hidden="true" class="far fa-address-book"></i>
                            </div>
                            <div class="title">
                                <span> Phone </span>
                            </div>
                            <div class="sannytech-text">
                                <span> +233 - 554 - 1300 - 56 </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

                    <div class="contacts-form scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <div class="bg-img" style="background-image: url(assets/images/pat-1.png);"></div>
                        <div class="contacts-form">
                            <form id="cform" method="post">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="group">
                                            <label>
                                                Your Full Name <b>*</b>
                                                <input name="name" type="text">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="group">
                                            <label>
                                                Your Email Address <b>*</b>
                                                <input name="email" type="email">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="group">
                                            <label>
                                                Your Subject <b>*</b>
                                                <input name="subject" type="text">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="group">
                                            <label>
                                                Your Message <b>*</b>
                                                <textarea name="message"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
                                        <!--<div class="terms-label">* Accept the terms and conditions.</div>-->
                                        <a class="btn" href="#" onclick="$('#cform').submit(); return false;">
                                            <span>Send Message</span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <div class="alert-success" style="display: none;">
                                <p></p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="sannytech-bgtitle">
                <span> Contact Me </span>
            </div>

        </div>
    </div>

</section>