<section class="sannytech-section sannytech-section-hero sannytech-gradient-top" id="started-section">
    <div class="container">

        <!-- Hero Started -->
        <div class="sannytech-started v-line v-line-left">
            <div class="section hero-started">
                <div class="content scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="titles">
                        <div class="sannytech-subtitle">
    								<span> Hello, <b>Call me</b>
    								</span>
                        </div>
                        <h1 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
    								<span>
    									<b>Daniel</b> Botchway</span>
                        </h1>
                        <div class="label sannytech-subtitle"> I am <strong>Full Stack PHP Developer</strong>
                        </div>
                    </div>
                    <div class="description">
                        <div>
                            <p>
                                From Ghana, I am a Full Stack PHP Developer with 3 years of experience in building web applications.
                                I am passionate about building web applications that are fast, secure and scalable.
                            </p>
                        </div>
                        <div class="social-links">
                            <a target="_blank" rel="nofollow" href="#github">
                                <i aria-hidden="true" class="fab fa-github"></i>
                            </a>
                            <a target="_blank" rel="nofollow" href="#twitter">
                                <i aria-hidden="true" class="fab fa-twitter"></i>
                            </a>
                            <a target="_blank" rel="nofollow" href="#linkedin">
                                <i aria-hidden="true" class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="bts">
                        <a target="_blank" href="#" class="btn">
                            <span>Download CV</span>
                        </a>
                        <a href="#skills-section" class="btn-lnk"> My Skills </a>
                    </div>
                </div>
                <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <img decoding="async" src="assets/images/profile.jpg" alt="Daniel Botchway" >
                    <span class="circle circle-1"></span>
                    <span class="circle img-1" style="background-image: url(assets/images/pat-1.png);"></span>
                    <span class="circle img-2" style="background-image: url(assets/images/pat-2.png);"></span>
                    <span class="circle img-3" style="background-image: url(assets/images/pat-2.png);"></span>
                    <div class="info-list">
                        <ul>
                            <li>
                                <span class="num">3 <strong>+</strong></span>
                                <span class="value">Years of <strong>Experience</strong> </span>
                            </li>
                            <li>
                                <span class="num">57</span>
                                <span class="value">Completed <strong>Projects</strong> </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sannytech-bgtitle">
                <span> PHP Developer </span>
            </div>
        </div>

    </div>
</section>