<section class="sannytech-section sannytech-gradient-center" id="pricing-section">

  <!-- Heading -->
  <div class="sannytech-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> Pricing </span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> my <b>Price Board</b>
                </span>
        </div>
      </div>

    </div>
  </div>

  <!-- Pricing -->
  <div class="v-line v-line-left">
    <div class="container">

      <div class="pricing-items row">
        <div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="sannytech-subtitle">
              <span> Bronze Package </span>
            </div>
            <div class="icon"></div>
            <div class="price">
              <span> 149 <b>$</b></span>
<!--              <em>Hour</em>-->
            </div>
            <div class="sannytech-text">
              <div>
                <p>
                  The Bronze Package is a basic package that includes a basic website with a few pages and a few features.
                </p>
              </div>
            </div>
            <div class="list">
              <div>
                <ul>
                  <li>
                    <i class="fas fa-check"></i>Website Development
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Up to 5 Pages
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Responsive Design
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Free domain for 1 year
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Free SSL certificate
                    </em>
                  </li>
                  <li>
                    <em>
                        <i class="fas fa-times"></i>Free hosting for 1 year
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>CMS (Content Management System)
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Image Optimization
                    </em>
                  </li>
                </ul>
              </div>
            </div>
            <a href="#contact-section" class="btn btn-solid">
              <span>Start Project</span>
            </a>
            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
          </div>
        </div>
        <div class="pricing-col center col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="label">
            <span> Popular </span>
          </div>
          <div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="sannytech-subtitle">
              <span> Silver Package </span>
            </div>
            <div class="icon"></div>
            <div class="price">
                    <span> 299 <b>$</b></span>
             <!-- <em>Week</em>-->
            </div>
            <div class="sannytech-text">
              <div>
                <p>
                    The Silver Package is a medium package that includes a medium website with a few pages and a few features.
                </p>
              </div>
            </div>
            <div class="list">
              <div>
                <ul>
                  <li>
                    <i class="fas fa-check"></i>Website Development
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Up to 10 Pages
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Responsive Design
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Free domain for 1 year
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Free SSL certificate
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Free hosting for 1 year
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>CMS (Content Management System)
                    </em>
                  </li>
                  <li>
                    <em>
                      <i class="fas fa-times"></i>Image Optimization
                    </em>
                  </li>
                </ul>
              </div>
            </div>
            <a href="#contact-section" class="btn btn-solid">
              <span>Start Project</span>
            </a>
            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
          </div>
        </div>
        <div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="sannytech-subtitle">
              <span> Gold Package </span>
            </div>
            <div class="icon"></div>
            <div class="price">
                    <span> 499 <b>$</b></span>
              <!--<em>Month</em>-->
            </div>
            <div class="sannytech-text">
              <div>
                <p>
                    The Gold Package is a premium package that includes a premium website with a few pages and a few features.
                </p>
              </div>
            </div>
            <div class="list">
              <div>
                <ul>
                  <li>
                    <i class="fas fa-check"></i>Website Development
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Up to 20 Pages
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Responsive Design
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Free domain for 1 year
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Free SSL certificate
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Free hosting for 1 year
                  </li>
                  <li>
                    <i class="fas fa-check"></i>CMS (Content Management System)
                  </li>
                  <li>
                    <i class="fas fa-check"></i>Image Optimization
                  </li>
                </ul>
              </div>
            </div>
            <a href="#contact-section" class="btn btn-solid">
              <span>Start Project</span>
            </a>
            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
          </div>
        </div>
      </div>

      <div class="sannytech-bgtitle">
        <span> My Pricing </span>
      </div>

    </div>
  </div>

</section>