<section class="sannytech-section sannytech-gradient-bottom" id="resume-section">

    <!-- Heading -->
    <div class="sannytech-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-animate="active" data-splitting="words">
                    <span> Resume </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-animate="active"
                     data-splitting="words">
                <span> my <b>Story</b>
                </span>
                </div>
            </div>

        </div>
    </div>

    <!-- History -->
    <div class="v-line v-line-left">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <span> Education </span>
                    </h5>
                    <div class="history-items">
                        <div class="history-item sannytech-collapse-item opened scrolla-element-anim-1 scroll-animate"
                             data-animate="active">
                            <h6 class="name sannytech-collapse-btn active">
                                <span> Ghana Communication Technology University </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> BSc. Information Technology</span>
                                </div>
                                <div class="date sannytech-subtitle">
                                    <span> 2020 - 2024 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>
                                            I'm currently in my 2nd year of my BSc. Information Technology degree at
                                            Ghana Communication Technology University.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item sannytech-collapse-item scrolla-element-anim-1 scroll-animate"
                             data-animate="active">
                            <h6 class="name sannytech-collapse-btn">
                                <span> EdUSA </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Scholars Program </span>
                                </div>
                                <div class="date sannytech-subtitle">
                                    <span> 2019 - <b>Present</b> </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>
                                            I'm currently a member of the EdUSA Scholars Program, a program that
                                            provides a platform for students to learn about the US education system.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <span> Experience </span>
                    </h5>
                    <div class="history-items">
                        <div class="history-item sannytech-collapse-item opened scrolla-element-anim-1 scroll-animate"
                             data-animate="active">
                            <h6 class="name sannytech-collapse-btn active">
                                <span> Network Intern </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Wisconsin International University College </span>
                                </div>
                                <div class="date sannytech-subtitle">
                        <span> 2020 - <b>2021</b>
                        </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>
                                            I was a network intern at WIUC, where I was responsible for the maintenance
                                            of the university's network infrastructure.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item sannytech-collapse-item scrolla-element-anim-1 scroll-animate"
                             data-animate="active">
                            <h6 class="name sannytech-collapse-btn">
                                <span> Manager </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Solar Packet </span>
                                </div>
                                <div class="date sannytech-subtitle">
                                    <span> 2019 - <b>Present</b> </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>
                                            Im currently the manager of Solar Packet Organization, an organization that
                                            provides tech solutions to businesses.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item sannytech-collapse-item scrolla-element-anim-1 scroll-animate"
                             data-animate="active">
                            <h6 class="name sannytech-collapse-btn">
                                <span> Financial Assistant </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Vipex Jeuon </span>
                                </div>
                                <div class="date sannytech-subtitle">
                                    <span> 2019 - 2021 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>
                                            I was a financial assistant at Vipex Jeuon, where I was responsible for the
                                            financial management of the company.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sannytech-bgtitle">
                <span> Background </span>
            </div>

        </div>
    </div>

</section>