<section class="lui-section lui-gradient-bottom" id="services-section">

  <!-- Heading -->
  <div class="lui-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> What I Do </span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> my <b>Services</b> </span>
        </div>
      </div>

    </div>
  </div>

  <!-- Services -->
  <div class="v-line v-line-right">
    <div class="container">

      <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Web Development </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Web Design</span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>
                    I design and develop websites that are fast, secure and scalable.
                    Just tell me what you want and I will make it happen.
                  </p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> Checkout Price </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Apps Development </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Web &amp; Android </span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>
                    I design and build Web Application for you and your business.
                    I also build Android Apps for your business.
                  </p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> Checkout Price </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Graphic Design </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Figma &amp; Photoshop </span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>
                    I create all kind of designs and graphics you need for your work.
                  </p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> Checkout Price </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Web Hosting </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Website or App Hosting </span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>
                    Let me put your website or app on the internet as fast as possible.
                  </p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> Checkout Price </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="lui-bgtitle">
        <span> Services </span>
      </div>

    </div>
  </div>

</section>