<section class="sannytech-section sannytech-gradient-center" id="skills-section">

  <!-- Heading -->
  <div class="sannytech-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> Skills </span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> my <b>Skills &amp; Talent </b> </span>
        </div>
      </div>

    </div>
  </div>

  <!-- Skills -->
  <div class="v-line v-line-left">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

          <div class="skills-items">
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> PHP </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    I have been working with PHP for more than 3 years, and I Have worked with frameworks like Laravel as Well.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 75%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">75 <span>%</span>
                      </span>
              </div>
            </div>
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> HTML </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    I have been working with HTML for more than 3 years.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 89%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">89 <span>%</span>
                      </span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

          <div class="skills-items">
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> JavaScript </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    Proficient in JavaScript, and I have been working with it for more than 3 years.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 70%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">70 <span>%</span>
                      </span>
              </div>
            </div>
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> jQuery </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    With the help of jQuery, I have been able to create some cool effects and animations and Server side Validations and More.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 80%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">80 <span>%</span>
                      </span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

          <div class="skills-items">
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> WordPress </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    A little bit of WordPress, I have been working with it for about a year.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 60%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">60 <span>%</span>
                      </span>
              </div>
            </div>
            <div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <h6 class="name">
                <span> Graphic Design </span>
              </h6>
              <div class="text">
                <div>
                  <p>
                    I have been working with Photoshop for about 2 years, and I have been able to create some cool designs.
                  </p>
                </div>
              </div>
              <div class="dots">
                <div class="dot" style="width: 69%;">
                  <span></span>
                </div>
              </div>
              <div class="value">
                      <span class="num">69 <span>%</span>
                      </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="sannytech-bgtitle">
        <span> My Skills </span>
      </div>

    </div>
  </div>

</section>