<section class="sannytech-section sannytech-gradient-center" id="testimonials-section">

    <!-- Heading -->
    <div class="sannytech-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                    <span> Testimonials </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> what my <b>Clients Say</b>
                </span>
                </div>
            </div>

        </div>
    </div>

    <!-- Testimonials -->
    <div class="v-line v-line-right">
        <div class="container">

            <div class="swiper-container js-testimonials scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonials-item">
                            <div class="image">
                                <img decoding="async" src="https://picsum.photos/seed/a/660/380/" alt="Emmanuel Agyapong" >
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="34px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)" fill="#1daee8" d="M17.360,8.325 C15.490,5.563 11.616,4.762 8.705,6.536 C6.901,7.635 5.815,9.533 5.826,11.567 C5.828,14.854 8.637,17.516 12.101,17.515 C13.290,17.513 14.456,17.192 15.460,16.587 C14.967,17.975 14.049,19.457 12.537,20.942 C11.934,21.533 11.951,22.476 12.574,23.048 C13.198,23.619 14.192,23.604 14.794,23.012 C20.384,17.515 19.658,11.539 17.360,8.333 L17.360,8.325 ZM32.407,8.325 C30.538,5.563 26.663,4.762 23.752,6.536 C21.949,7.635 20.863,9.533 20.873,11.567 C20.875,14.854 23.685,17.516 27.148,17.515 C28.338,17.513 29.503,17.192 30.508,16.587 C30.015,17.975 29.097,19.457 27.585,20.942 C26.982,21.533 26.999,22.476 27.622,23.048 C28.245,23.619 29.239,23.604 29.842,23.012 C35.432,17.515 34.706,11.539 32.407,8.333 L32.407,8.325 Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="text sannytech-text">
                                <div>
                                    <p>
                                        Daniel is a great developer. He is very professional and has a great work ethic.
                                        He is very knowledgeable and has a great understanding of the latest technologies.
                                    </p>
                                </div>
                            </div>
                            <div class="info">
                                <h6 class="name">
                                    <span>Emmanuel Agyapong</span>
                                </h6>
                                <div class="author">
                                    <span>Civil Engineer</span>
                                </div>
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-item">
                            <div class="image">
                                <img decoding="async" src="https://picsum.photos/seed/b/660/380/" alt="Is-haq Mohammed" >
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="34px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)" fill="#1daee8" d="M17.360,8.325 C15.490,5.563 11.616,4.762 8.705,6.536 C6.901,7.635 5.815,9.533 5.826,11.567 C5.828,14.854 8.637,17.516 12.101,17.515 C13.290,17.513 14.456,17.192 15.460,16.587 C14.967,17.975 14.049,19.457 12.537,20.942 C11.934,21.533 11.951,22.476 12.574,23.048 C13.198,23.619 14.192,23.604 14.794,23.012 C20.384,17.515 19.658,11.539 17.360,8.333 L17.360,8.325 ZM32.407,8.325 C30.538,5.563 26.663,4.762 23.752,6.536 C21.949,7.635 20.863,9.533 20.873,11.567 C20.875,14.854 23.685,17.516 27.148,17.515 C28.338,17.513 29.503,17.192 30.508,16.587 C30.015,17.975 29.097,19.457 27.585,20.942 C26.982,21.533 26.999,22.476 27.622,23.048 C28.245,23.619 29.239,23.604 29.842,23.012 C35.432,17.515 34.706,11.539 32.407,8.333 L32.407,8.325 Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="text sannytech-text">
                                <div>
                                    <p>
                                        When I first tested Daniel's work, I was impressed by his professionalism and his ability to deliver on time.
                                    </p>
                                </div>
                            </div>
                            <div class="info">
                                <h6 class="name">
                                    <span>Is-haq Mohammed</span>
                                </h6>
                                <div class="author">
                                    <span>Software Engineer</span>
                                </div>
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-item">
                            <div class="image">
                                <img decoding="async" src="https://picsum.photos/seed/c/660/380/" alt="Seth Mensah" >
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="34px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)" fill="#1daee8" d="M17.360,8.325 C15.490,5.563 11.616,4.762 8.705,6.536 C6.901,7.635 5.815,9.533 5.826,11.567 C5.828,14.854 8.637,17.516 12.101,17.515 C13.290,17.513 14.456,17.192 15.460,16.587 C14.967,17.975 14.049,19.457 12.537,20.942 C11.934,21.533 11.951,22.476 12.574,23.048 C13.198,23.619 14.192,23.604 14.794,23.012 C20.384,17.515 19.658,11.539 17.360,8.333 L17.360,8.325 ZM32.407,8.325 C30.538,5.563 26.663,4.762 23.752,6.536 C21.949,7.635 20.863,9.533 20.873,11.567 C20.875,14.854 23.685,17.516 27.148,17.515 C28.338,17.513 29.503,17.192 30.508,16.587 C30.015,17.975 29.097,19.457 27.585,20.942 C26.982,21.533 26.999,22.476 27.622,23.048 C28.245,23.619 29.239,23.604 29.842,23.012 C35.432,17.515 34.706,11.539 32.407,8.333 L32.407,8.325 Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="text sannytech-text">
                                <div>
                                    <p>
                                        Daniel is a very talented developer. He is very professional and always delivers on time. I will definitely work with him again.
                                    </p>
                                </div>
                            </div>
                            <div class="info">
                                <h6 class="name">
                                    <span>Seth Mensah</span>
                                </h6>
                                <div class="author">
                                    <span>Full Stack Developer</span>
                                </div>
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-item">
                            <div class="image">
                                <img decoding="async" src="https://picsum.photos/seed/d/660/380/" alt="Jennifer Smith" >
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="34px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)" fill="#1daee8" d="M17.360,8.325 C15.490,5.563 11.616,4.762 8.705,6.536 C6.901,7.635 5.815,9.533 5.826,11.567 C5.828,14.854 8.637,17.516 12.101,17.515 C13.290,17.513 14.456,17.192 15.460,16.587 C14.967,17.975 14.049,19.457 12.537,20.942 C11.934,21.533 11.951,22.476 12.574,23.048 C13.198,23.619 14.192,23.604 14.794,23.012 C20.384,17.515 19.658,11.539 17.360,8.333 L17.360,8.325 ZM32.407,8.325 C30.538,5.563 26.663,4.762 23.752,6.536 C21.949,7.635 20.863,9.533 20.873,11.567 C20.875,14.854 23.685,17.516 27.148,17.515 C28.338,17.513 29.503,17.192 30.508,16.587 C30.015,17.975 29.097,19.457 27.585,20.942 C26.982,21.533 26.999,22.476 27.622,23.048 C28.245,23.619 29.239,23.604 29.842,23.012 C35.432,17.515 34.706,11.539 32.407,8.333 L32.407,8.325 Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="text sannytech-text">
                                <div>
                                    <p>
                                        The best developer I have ever worked with. He is very professional and always delivers on time.
                                    </p>
                                </div>
                            </div>
                            <div class="info">
                                <h6 class="name">
                                    <span>Gibson Owusu</span>
                                </h6>
                                <div class="author">
                                    <span>Django Developer</span>
                                </div>
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="sannytech-bgtitle">
                <span> Reviews </span>
            </div>

        </div>
    </div>

</section>