<section class="sannytech-section sannytech-gradient-top" id="works-section">

    <!-- Heading -->
    <div class="sannytech-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-animate="active" data-splitting="words">
          <span>
            Works &amp; Projects
          </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-animate="active"
                     data-splitting="words">
                <span> my <b>Portfolio</b>
                </span>
                </div>
            </div>

        </div>
    </div>

    <!-- Works -->
    <div class="v-line v-line-right">
        <div class="container">

            <div class="works-box">
                <div class="filter-links scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <a class="sannytech-subtitle active" data-href=".works-col" href="#"> All </a>
                    <a class="sannytech-subtitle" data-href=".sorting-web-development" href="#"> Web Development </a>
                    <a class="sannytech-subtitle" data-href=".sorting-app-development" href="#"> App Development </a>
                    <a class="sannytech-subtitle" data-href=".sorting-graphic-design" href="#"> Graphic Design </a>
                    <a class="sannytech-subtitle" data-href=".sorting-hosting" href="#"> Hosting </a>
                </div>
                <div class="works-items works-masonry-items row">
                    <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-hosting sorting-app-development ">
                        <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="image">
                                <div class="img">
                                    <a href="#1">
                                        <!--<a href="projects">-->
                                        <img alt="ASS" decoding="async" src="https://picsum.photos/seed/1/670/679/">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="category"> Hosting, App Development </span>
                                <h5 class="name">
                                    <a href="#2">ASS</a>
                                </h5>
                                <div class="text">
                                    <p>
                                        Assignment Submission System - A web application that allows students to submit
                                        their assignments online and teachers to grade them.
                                    </p>
                                </div>
                                <!--<a href="project.html" class="lnk">Lookup project</a>-->
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-hosting sorting-web-development ">
                        <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="image">
                                <div class="img">
                                    <a href="#3">
                                        <img alt="Clearance" decoding="async"
                                             src="https://picsum.photos/seed/2/670/679/">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="category"> Web Development, Hosting </span>
                                <h5 class="name">
                                    <a href="#4">Clearance System</a>
                                </h5>
                                <div class="text">
                                    <p>
                                        A web application that allows students to submit their clearance forms online
                                        and the admin to approve them.
                                    </p>
                                </div>
                                <!--<a href="project.html" class="lnk">Lookup project</a>-->
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-graphic-design sorting-web-development ">
                        <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="image">
                                <div class="img">
                                    <a href="#5">
                                        <img alt="Hostel" decoding="async" src="https://picsum.photos/seed/3/670/679/">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="category"> Graphic Design, Web Development </span>
                                <h5 class="name">
                                    <!--<a href="project.html">Hostel Manage</a>-->
                                </h5>
                                <div class="text">
                                    <p>
                                        A web application that allows students and clients to book hostel rooms online.
                                    </p>
                                </div>
                                <!--<a href="project.html" class="lnk">Lookup project</a>-->
                            </div>
                            <div class="bg-img" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="load-more-link">
                    <a class="btn scrolla-element-anim-1 scroll-animate" data-animate="active" href="projects.html">
                        <span>View More</span>
                    </a>
                </div>
            </div>

            <div class="sannytech-bgtitle">
                <span> Works &amp; Projects </span>
            </div>

        </div>
    </div>

</section>