<div class="footer">
    <div class="footer__builder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="social-links scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <a href="https://github.com/BhoiDanny" rel="nofollow" target="_blank">
                            <i aria-hidden="true" class="fab fa-github"></i>
                        </a>
                        <a href="https://twitter.com/Cypherios1" rel="nofollow" target="_blank">
                            <i aria-hidden="true" class="fab fa-twitter"></i>
                        </a>
                        <a href="https://linkedin.com/in/daniel-botchway/" rel="nofollow" target="_blank">
                            <i aria-hidden="true" class="fab fa-linkedin"></i>
                        </a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="copyright-text align-center scrolla-element-anim-1 scroll-animate"
                         data-animate="active">
                        © 2022 <strong>Sanny Tech</strong>. All rights reserved
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="copyright-text align-right scrolla-element-anim-1 scroll-animate" data-animate="active">
                        Developed by <strong>Daniel Botchway</strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>