<!doctype html>
<html lang="en-US">
<head>

    <title>Sanny Tech | Portfolio</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="true" name="HandheldFriendly">
    <meta content="Daniel Botchway" name="author">

    <link href="assets/css/sannytech.css" media="all" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link href="assets/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="assets/images/logo.png" rel="icon" type="image/x-icon">

</head>