<header class="header">
    <div class="header__builder">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <!-- logo -->
                <div class="logo">
                    <a href="index.html">
                        <!--            <img width="228" height="38" src="assets/images/logo2.png" alt="" >-->
                        <h1 class="logo-head display-6">Sanny Tech</h1>
                    </a>
                </div>

            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 align-right">

                <!-- switcher btn -->
                <!-- partial:_switcher.html -->
                <!-- partial -->


                <!-- menu btn -->
                <a class="menu-btn" href="#">
                    <span></span>
                    <span></span>
                </a>

                <!-- Menu Full Overlay -->
                <div class="menu-full-overlay">
                    <div class="menu-full-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <!-- menu full -->
                                    <!-- partial:_right-sidebar.html -->
                                    <!-- partial -->


                                    <!-- social -->
                                    <div class="menu-social-links">
                                        <a class="scrolla-element-anim-1" href="https://github.com/BhoiDanny"
                                           target="blank" title="github">
                                            <i class="fab fa-github"></i>
                                        </a>
                                        <a class="scrolla-element-anim-1" href="https://twitter.com/Cypherios1"
                                           target="blank" title="twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="scrolla-element-anim-1" href="https://linkedin.com/in/daniel-botchway/"
                                           target="blank" title="linkedin">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>

                                    <div class="v-line-block"><span></span></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-overlay"></div>
                </div>

            </div>
        </div>
    </div>
</header>