<!doctype html>
<html lang="en-US">
<head>

  <title>Sanny Tech | Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="author" content="Daniel Botchway" >

  <link rel="stylesheet" href="assets/css/sannytech.css" type="text/css" media="all">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>