<div class="menu-full">
    <ul class="menu-full">
        <li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="index.html">Home</a>
        </li>
        <li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#services-section">Services</a>
        </li>
        <li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#skills-section">Skills</a>
        </li>
        <li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#works-section">Works</a>
        </li>
        <!--<li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#resume-section">Resume</a>
        </li>-->
        <!--<li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#testimonials-section">Testimonials</a>
        </li>-->
        <!-- <li class="menu-item">
             <a class="splitting-text-anim-2" data-splitting="chars" href="#pricing-section">Pricing</a>
         </li>-->
        <!--<li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#blog-section">Blog</a>
        </li>-->
        <li class="menu-item">
            <a class="splitting-text-anim-2" data-splitting="chars" href="#contact-section">Contact</a>
        </li>
        <!--<li class="menu-item menu-item-has-children has-children">
            <a class="splitting-text-anim-2" data-splitting="chars">Pages</a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a class="splitting-text-anim-1" data-splitting="chars" href="projects-list.html">Projects (List)</a>
                </li>
                <li class="menu-item">
                    <a class="splitting-text-anim-1" data-splitting="chars" href="projects.html">Projects (Grid)</a>
                </li>
                <li class="menu-item">
                    <a class="splitting-text-anim-1" data-splitting="chars" href="project.html">Project</a>
                </li>
                <li class="menu-item">
                    <a class=" splitting-text-anim-1" data-splitting="chars" href="blogs.html">Blog</a>
                </li>
                <li class="menu-item">
                    <a class="splitting-text-anim-1" data-splitting="chars" href="blog.html">Single Post</a>
                </li>
            </ul>
        </li>-->
    </ul>
</div>